/*kATH-STYLE*/


*{
	padding: 0;
	margin:0;
}

.formulario{
	padding: 5px, 0px;
	span{
		color:#00c3a3;
	}
	display:block;
	text-align:center;

	form p {
    margin-bottom: 5px;
    text-align: center;
    padding-top:0px;
	}

.btn{
	background-color:#fbd43b;
 }

 .btn:hover{
 	background-color: #8f8f8f;
 }
}

.pantalla-3{
	label{
		text-align:center;
	}
	 p {
    color: #9e9e9e;
    padding-top: 20px;
    }
}


/*FIN KATH-STYLE*/