.candado{
	padding-top:80px;
   img{
   	width:30%;
   }
   label{
   	font-size:21px;
   	font-weight:bold;
   	color:#000;
   }
   p{
   	color:#9e9e9e;
   	padding-top:10px;
   }
}
.formulario {
   #name_input,
   #email_input,
   #pass_input {
      font-size: 18px;
      text-align: center;
      padding: 3px 20px;
      box-sizing: border-box;
   }
}