*{
	margin:0;
	padding:0;
}
/* pantalla2 maribel*/
.phone{
	padding-top:80px;
   img{
   	width:30%;
   }
   label{
   	font-size:21px;
   	font-weight:bold;
   	color:#000;
   }
   p{
   	color:#9e9e9e;
   	padding-top:20px;
   }
}
input[type=number].input-bg-cel {
   background-image: url("../img/icons/phoneandnumber.png");
   font-size: 18px;
   text-align: center;
   padding: 3px 20px;
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   box-sizing: border-box;
}