*{
	margin:0;
	padding:0;
}
/* pantalla2 maribel*/
.phone{
	padding-top:100px;
   img{
   	width:20%;
   }
   label{
   	font-size:21px;
   	font-weight:bold;
   	color:#000;
   }
   p{
   	color:#9e9e9e;
   	padding-top:20px;
   }
}